.grid-container
{

    
    background-color: rgb(168, 78, 78);
    padding: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* justify-content: end; */
    /* grid: 1/5; */
   
    /* grid-column-gap: 200px; */
     grid-gap: 40px  20px; 
     height: 400px;
     align-content: center;
    
    /* justify-content: first baseline; */
   
    /* flex-direction: row;
    flex-wrap: wrap-reverse; */
  
}

.grid-container > div {
   
   text-align: center;
   height: 100px;
    width: 100px;
    font-size: 20px;
    font-weight: 50px;
    color: rgb(243, 241, 239);
    /* background-color: rgb(138, 70, 123); */
}

/* .first-grid{
    grid-area: 1 /  2 / span 2 /span 2;
} */



@media screen and (max-width: 767px) {
    .first-grid {
      background-color: #46e446;
    }
  }
  
  @media screen and (min-width: 767px)  and (max-width: 1020px) {
    .first-grid {
      background-color: #171b17;
    }
  }
  